@using la_mia_pizzeria.Models;

<h1>Home page</h1>


<body onload="cerca()">
    <section class="text-center">
        <div class="container">
            <input class="js-search" type="text" placeholder="Cerca la pizza" />
            <div class="row">
            </div>
        </div>
    </section>
</body>


<script type="text/javascript">
    const cardActor = document.querySelector(".row");
    const actorSearch = document.querySelector(".js-search")
    let lista;
    actorSearch.addEventListener("keyup", cerca)
    function cerca() {
        let name = this.value;
        risultati(name);
    }
    function risultati(name) {
        axios.get("api/pizza/get", {
            params: {
                name: name
            }
        })
            .then(function (response) {
                console.log(response);
                lista = response.data;
                if (lista.length > 0) {
                    cardActor.innerHTML = ""
                    lista.forEach(pizza => {
                        cardActor.innerHTML +=
                            `<div class="col-4 py-2" >
                                        <a href="/Home/Details/${pizza.id}" class="text-decoration-none text-danger card" >
    @*<a href="@Url.Action("Details", "Home", new {Id = actor.id})" class="btn btn-danger my-3">Details*@
                                        <div class="card bg-dark bg-gradient text-white border-2  rounded-lg" >
                                            <span class="py-1" >Name ${pizza.name}</span>
                                            <span class="py-1" >Surname ${pizza.surname} </span>
                                            </div>
                                        </a>
                                        </div>`
                    })
                } else {
                    cardActor.innerHTML = "<h1>non ci sono pizze</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }</script>